*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    height: 100px;
    background: #dfe6e9;
}

header img{
    height: 100%;
}

nav{
    height:35px;
    background: #141414;
    margin-bottom: 5px;
}

nav .menu ul{
    list-style: none;
}

nav .menu ul li{
    float: left;
    line-height: 35px;
}

nav .menu ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border-right: 1px solid #ccc;
    padding: 0 30px;
    display: block;
}

nav .menu ul li a.active{
    background: #1949b5;
}

nav .menu ul li a.active1{
    background: #1949b5;
}

nav .search {
    line-height: 25px;
    float: right;
    padding-right: 25px;
    justify-content: center;
}

nav .menu ul li a:hover{
    color: #1949b5;
    background-color: #fff;
}

#slide img{
    width: 100%;
    height:200px;
}

article h3{
    text-align: center;
    padding: 15px 0;
    color: #272f54;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.new_list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
}

.news_item{
    width: 50%;
    text-align: center;
}

.img1{
    width:100%;
    margin-top:5px;
}

article .new_list .news_item h4{
    font-size:15px;
    color: #c0392b;
}

article .new_list .news_item img{
    margin: 10px auto;
}

article .new_list .news_item .content{
    font-size:13px;
}

a{
    text-decoration: none;
    color:black;
}

.img2{
    width:100%;
    margin-top:5px;
    height: 50%;
}

.footer{
    height: 200px;
    background: #272f54;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top:40px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.footer .left{
    text-align: left;
    font-family: 'Roboto';
    font-weight: bold;
    padding-left: 15px;
}

.footer .left h3{
    margin-bottom: 20px;
}

.footer .left h2{
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer .right h3 {
    color: #fff;
    text-align: right;
    padding-right: 30px;
    font-weight: 'Roboto';
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer .mid h3 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}